* {
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Indie+Flower&family=Rajdhani&display=swap');

body {
    font-family: 'Indie Flower', cursive;
    margin: 2px; 
    padding: auto;
    background-color: black;  
    color: rgb(5, 0, 0); 
}

#start {
    font-family: 'Big Shoulders Display', cursive;
    text-decoration: none;
    font-size: 20px;
    width: 50%;
    border-radius: 60px;
    background-image:radial-gradient(#21f700 0%, #7700c7 100%);
    color:white;
    margin: 5px;
    padding: 5px;
}
.startdiv{
    display: flex;
    justify-content: space-around;
}

header {
   font-family: 'Big Shoulders Display', cursive;
   display: flex;
   justify-content: space-around;
}
h2 {
    display: flex;
    justify-content: space-around;
}

section {
    display: flex;
    justify-content: space-around;
}
.high {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#answers {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
#quizSection {
    display: flex;
    justify-content: space-around;
     text-decoration: none;
    font-size: 30px;
    border-radius: 30px;
    background-color: black; 
    background-image:radial-gradient(#21f700 0%, #7700c7 100%);
    color:white;
    margin-bottom: 5px;
    padding: 5px;
}

button.answerButton {
    width: 100%;
    text-decoration: none;
    font-size: 25px;
    border-radius: 60px;
    background-image:radial-gradient(#21f700 0%, #7700c7 100%);
    color:white;
    margin: 2px;
    padding: 2px;
}

#highScores {
    font-family: 'Big Shoulders Display', cursive;
    width: 75%;
    text-decoration: none;
    font-size: 25px;
    border-radius: 60px;
    background-image:radial-gradient(#21f700 0%, #7700c7 100%);
    color: white;
}
#timer {
    font-family: 'Big Shoulders Display', cursive;
    width: 25%;
    text-decoration: none;
    font-size: 25px;
    border-radius: 60px;
    background-image:radial-gradient(#010800 0%, red 100%);
    color: aliceblue;
}

#highScoreText {
    font-family: 'Big Shoulders Display', cursive;
    width: 75%;
    text-decoration: none;
    font-size: 25px;
    border-radius: 60px;
    background-image:radial-gradient(#21f700 0%, #7700c7 100%);
    color: white;
}
p {
    width: 100%;
    text-decoration: none;
    font-size: 25px;
    border-radius: 60px;
    background-image:radial-gradient(#21f700 0%, #7700c7 100%);
    color:white;
    margin: 2px;
    padding: 2px
}